<!doctype html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <script type="text/javascript"  charset="utf-8"
            src="http://connect.qq.com/qc_jssdk.js"
            data-appid="101889074"
            data-redirecturi="http://127.0.0.1:8080/callback"
            data-callback="true"
    ></script>
</head>

<body>
    <div th:if="${param.error}">
        Invalid username and password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
    <form action="/login" method="post">
        <div><label> User Name : <input type="text" name="username"/> </label></div>
        <div><label> Password: <input type="password" name="password"/> </label></div>
        <div><input type="submit" value="Sign In"/></div>
    </form><!--/form -->

    <span id="qqLoginBtn"></span>
    <script type="text/javascript">
        QC.Login({
            btnId:"qqLoginBtn"	//插入按钮的节点id
        });
    </script>
</body>

</html>